<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyPrivateFeed" value="https://pkgs.dev.azure.com/kshitijachavan040818/AzureDev
    /_packaging/AzureDevFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyPrivateFeed>
      <add key="Username" value="Azure DevOps" />
      <add key="ClearTextPassword" value="78W5ppGqyPwuX04o0SMQNJ3yiqXA7Ikge9WCnLn1vagiWRsKHhPvJQQJ99BEACAAAAAAAAAAAAASAZDO1enI" />
    </MyPrivateFeed>
  </packageSourceCredentials>
</configuration>  